TELEGRAM_BOT_TOKEN="8493075779:AAHs2AOHWxmcUjcP4ZIZ69_xKW0QFYWr4fw"
DB_HOSTNAME="localhost"
DB_USERNAME=""
DB_PASSWORD=""
DB_DATABASE=""
DB_AUTH_PLUGIN="mysql_native_password"
NGROK_AUTHTOKEN="2xxxxxxxxxxxxxxxxxxxxxxxxxg"
